<nav ng-if = "role == '0'" class="navbar navbar-fixed-top" style="background-color: #DEECFA;">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#reports"><strong>PUZZLE</strong></a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#reports"><strong>Отчеты</strong></a></li>
        <li><a href="#smsinfo"><strong>SMS-опрос</strong></a></li>
        <li><a href="#archlst"><strong>Архив</strong>&nbsp;&nbsp;</a></li>
      </ul>
   </div>
</div>
</nav>
<br /><br /><br />
   <div class="row">
    <div class="col-md-12">
      <div class="well">
          <h4 class="text-center text-success">Пользователю PUZZLE</h4>
          <p class="text-center text-info"><small>Версия 1.1.4 от 20.03.2017 г.</small></p>
      </div>
     </div>
    </div>
    <div class="row">
      <div class="col-md-4">
       <div class="well text-justify">
         <p><strong>1.Принципы работы.</strong></p>
         <p><small>На компьютере пользователя должен быть установлен современный веб-браузер.
         Приложение PUZZLE предназначено для одновременной работы нескольких подразделений по сбору и сведению
         информации для формирования "совместных" справок и отчетов по направлениям деятельности отделения. Пользователи приложения имеют "роли":<br />
         - Организатор ("сводит" отчет),<br />
         - Исполнитель (источник данных),<br />
         - Администратор.<br />
         Администратор может формировать группы пользователей Исполнителей и Организаторов, "подписывая" их на группы справок (отчетов).
         Кроме этого каждый пользователь-"Исполнитель", с помощью поля "Направление", связан с группой
         строк бланка отчета и ему доступна для заполнения только <strong>его часть справки.</strong> Подготовка справки происходит за цикл, разбитый на шаги:<br />
       <ol>
        <li>"Организатор" переносит бланк отчета в буферную таблицу (в нее и происходит ввод информации "Исполнителем"), но ввод информации пока
        невозможен.</li>
        <li>"Организатор" выбирает из календаря дату, на которую будет заполняться отчет, и автоматически устанавливает дату в буферной таблице.</li>
        <li>"Организатор" передает бланк отчета для ввода информации "Исполнителям" ("на дату"), при этом происходит рассылка сообщений "Исполнителям" по
        электронной почте и все строки бланка отчета находятся в статусе "ВВОД".</li>
        <li>"Исполнитель" получает возможность вводить свою часть информации в отчете.</li>
        <li>"Исполнитель", после ввода и проверки правильности своих строк отчета, переводит строки бланка в статус "ПРОЦ".</li>
        <li>"Организатор", после проверки строк отчета, переводит их в статус "ЗВРШ", печатает выходную форму или получает отчет в виде Excel таблицы.</li>
        <li>"Организатор", может вернуть ошибочной строке отчета статус "ВВОД", направить по электронной почте сообщение "Исполнителю".</li>
        <li>"Организатор" отправляет отчет в "архив" при этом из буферной таблицы данный отчет удаляется.</li>
       </ol>
         </small></p>
         <p><small>Может идти одновременная работа с несколькими отчетами групп "Организаторов" и "Исполнителей".</small></p>
       </div>
      </div>
      <div class="col-md-4">
       <div class="well text-justify">
         <p><strong>2.Пользователь-"Организатор".</strong></p>
         <p><small>В меню программы выбираем "Отчеты" при этом отображается список отчетов, на которые "подписан" данный "Организатор", "Статус" строк отчетов
         и возможные "Действия". Для начала сбора данных по отчету выбираем действие - "Начать сбор данных". Отображается форма "Создание строк отчета для Исполнителей".
         Устанавливаем дату, по состоянию на которую будет собираться информация и устанавливаем дату - "Срок исполнения" (вызов календаря - иконка <span class="glyphicon glyphicon-calendar"></span>).
         Решаем, надо ли отправлять сообщения по электронной почте "Исполнителям", с помощью "галочки" в соответствующем checkbox. Нажимаем кнопку "Создать строки отчета".
         Вернувшись в пункт меню "Отчеты" (можно использовать браузерную кнопку <span class="glyphicon glyphicon-arrow-left"></span>), наблюдаем изменения статуса отчета и соответственно изменения возможных "действий"
         с данным отчетом. Теперь можно отслеживать процесс ввода данных "Исполнителями", щелкнув мышкой по ссылке "Просмотр процесса сбора данных".
         В окне  "Просмотр процесса сбора данных" у заголовков колонок таблицы, по которым возможна сортировка, изменен цвет. Щелкая мышкой по заголовкам, сортируем информацию. Можно ипользовать "Фильтр", например для
         фильтрации строк отчета от одного Исполнителя. В том случае, если мы замечаем, что какой-либо "Исполнитель" ввел некорректные данные, можно перейти в пункт меню "Исполнители" и направить данному "Исполнителю"
         сообщение по электронной почте.<br />
         После того, как "Исполнители" изменят статус строк отчета из "ВВОД" в "ПРОЦ", для Организатора появляется возможность "действия" по завершению работы с отчетом.
         Можно, щелкнув мышкой по кнопке "Завершить" (с выпадающим меню), выбрать финальные операции по работе с отчетом:<br /> - "Выходная форма" - после отображения на экране собственно отчета,
         можно напечатать отчет;<br />- Получить и "скачать" отчет в формате электронной таблицы;<br />- Просмотреть еще раз отчет в формате таблицы и в случае, если здесь, на этом шаге, обнаружены ошибки в отчете - вернуть ошибочной строке
         статус "ВВОД" и "Исполнитель" получит возможность корректировки данных;<br /> - Отправить отчет в "Архив" при этом отчет будет удален из буферной таблицы и его можно только "читать" из пункта меню "Архив".
         </small></p>
       </div>
      </div>
      <div class="col-md-4">
       <div class="well text-justify">
         <p><strong>3.Пользователь-"Исполнитель".</strong></p>
         <p><small>После получения сообщения от "Организатора", входим в программу "PUZZLE". Отображается "Список отчетов", на которые "подписан" данный "Исполнитель".
         В колонке "Данные на дату" указана дата, на которую должна быть актуальна информация, вводимая в строки отчета. В колонке "Исполнение" указан срок исполнения.
         Для "активного" отчета в колонке "Действия" появляется кнопка "Варианты" с выпадающим меню.
         Щелкнув мышкой по "Варианты"->"Ввод или редактирование данных", переходим к заполнению строк отчета. Ввод информации возможен только в том случае, если строка находится в статусе "ВВОД".
         Для открытия формы для ввода-редактирования данных, щелкаем мышкой по иконкам <span class="glyphicon glyphicon-edit"></span>, расположенным в колонке "ВВОД".
         После заполнения строк отчета, переводим строки из состояния "ВВОД" в состояния "ПРОЦ", щелкая мышкой по слову "ВВОД". Далее "Организатор" переведет строки отчета в
         статус "ЗВРШ" и после отправки "Организатором" отчета в "Архив" содержимое отчета будет удалено, а в "Списке отчетов", в колонке "Действия" исчезнет соответствующая кнопка "Варианты".
         В колонках "Данные на дату" и "Исполнение" останутся даты последнего отчета.<br />
         В ходе формирования отчета можно для просмотра и печати результатов использовать пункт меню: "Варианты"->"Выходная форма отчета", для получения файла с отчетом в
         формате электронной таблицы - "Варианты"->"Отчет в виде XLS-файла".<br />
         После того как "Организатор" сведет отчет, закончит работу с отчетом, отправив его в "Архив", "Исполнитель" может, на странице со списком отчетов
         перейти по ссылке "Архив" и просмотреть свою часть информации в общих отчетах или выгрузить на свою рабочую станцию свой отчет в формате электронной
         таблицы. Для навигации в "PUZZLE" используйте браузерные кнопки "Назад" <span class="glyphicon glyphicon-arrow-left"></span> и "Вперед" <span class="glyphicon glyphicon-arrow-right"></span>.
         </small>
       </p>
       </div>
      </div>
    </div>
   <div class="row">
    <div class="col-md-12">
      <div class="well">
          <h4 class="text-center text-success">История изменений</h4>
          <p class="text-center text-info"><small>Версия 1.1.4 от 20.03.2017 г.</small></p>
          <p><small>1. В связи с изменением форм отчетности по госуслугам ПФР, добавлена возможность формирования сводных отчетов по новым формам отчетности и т.д.</small></p>
          <p class="text-center text-info"><small>Версия 1.1.3 от 06.03.2017 г.</small></p>
          <p><small>1. В связи с изменением форм отчетности по госуслугам ПФР, добавлен новый шаблон отчета и добавлены функции импорта из XLS-файлов, объединения информации из файлов ПФР и МФЦ и т.д.</small></p>
          <p class="text-center text-info"><small>Версия 1.1.2 от 26.08.2016 г.</small></p>
          <p><small>1. Для Организатора, сопровождающего отчеты по госуслугам, добавлены функции получения дополнительного отчета по приему документов, получения сводного отчета.</small></p>
          <p class="text-center text-info"><small>Версия 1.1.1 от 18.02.2016 г.</small></p>
          <p><small>1. Для Администратора добавлены функции настройки параметров обработки хls-файлов от МФЦ с отчетами по госуслугам.</small></p>
          <p class="text-center text-info"><small>Версия 1.1.0 от 06.10.2015 г.</small></p>
          <p><small>1. Добавлен функционал, позволяющий работать с "отчетами" для сбора данных - пользователь Исполнитель может добавлять свои "ряды" (наборы строк).
           Для такой работы Администратор, при создании бланка отчета, во время добавления отчета в "список отчетов", должен "разрешить вставки" (поставить "галочку"
           в соответствующей форме).
           В этом случае Исполнитель получает возможность добавлять и удалять "ряды" (наборы строк).</small></p>
          <p class="text-center text-info"><small>Версия 1.0.2 от 31.08.2015 г.</small></p>
          <p><small>1. Добавлены возможности, позволяющие организовать сбор и сведение информации для SMS-опросов.</small></p>
          <p><small>2. Добавлены возможности, позволяющие встроить в программу отчет о количестве госуслуг, оказанных в МФЦ и УПФР.</small></p>
          <p class="text-center text-info"><small>Версия 1.0.1 от 21.05.2015 г.</small></p>
          <p><small>Первая версия приложения PUZZLE</small></p>
      </div>
     </div>
    </div>
