<!-- $sql = "SELECT str_nmb, descr, sum(pval) FROM `puzzles` WHERE id_rep=2 and status=\'ЗВРШ\' group by str_nmb ";-->
<h3>{{name_rep}}</h3>
<hr/>
Загрузка файла: {{path_out}}
<div class="panel panel-primary">
    <div class="panel-heading">Шаблоны (бланки)
    </div>
    <div class="panel-body">
        <h4>Строк: {{reports.length}}</h4>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr ng-show="reports.length==0">
                    <td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Данные не найдены</td>
                </tr>
                <tr ng-hide="reports.length>-1">
                    <td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Загрузка...</td>
                </tr>
                <tr>
                    <th>№&nbsp;</th>
                    <th>ID</th>
                    <th>Наименование</th>
                    <th>Комментарии</th>
                </tr>
                <tbody>
                <tr ng-repeat="c in reports">
                    <td>{{$index + 1}}</td>
                    <td>{{c.id_rep}}</td>
                    <td><a href="#blank/{{c.id_rep}}"><strong>{{c.name_rep}}</strong></a></td>
                    <td>{{c.comment}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
