<br /><br /><br />
  <div class="container">
   <div class="row">
    <div class="col-md-12">
      <div class="well">
          <h4 class="text-center text-success">Пользователю PUZZLE</h4>
          <p class="text-center text-info"><small>Версия 1.0.0 от 04.05.2015 г.</small></p>
      </div>
     </div>
    </div>
    <div class="row">
      <div class="col-md-4">
       <div class="well text-justify">
         <p><strong>1.Принципы работы.</strong></p>
         <p><small>На компьютере пользователя должен быть установлен современный веб-браузер.
         Приложение PUZZLE предназначено для одновременной совместной работы нескольких подразделений по формированию
         справки по направлениям деятельности отделения. Пользователи приложения имеют "роли":<br />
         - Организатор,<br />
         - Исполнитель,<br />
         - Администратор.<br />
         Каждый пользователь-"Исполнитель", с помощью поля "Направление", таблицы пользователей БД данного приложения, связан с группой
         строк бланка справки и может заполнить только свою часть справки. Подготовка справки происходит за цикл, разбитый на шаги:<br />
       <ol>
        <li>"Организатор" переносит бланк справки в буферную таблицу (в нее и происходит ввод информации "Исполнителем"), но ввод информации пока
        невозможен.</li>
        <li>"Организатор" выбирает из календаря дату, на которую будет заполняться справка, и автоматически устанавливает дату в буферной таблице.</li>
        <li>"Организатор" передает пустую справку для ввода информации "Исполнителям" ("на дату"), при этом происходит рассылка сообщений "Исполнителям" по
        электронной почте.</li>
        <li>"Исполнитель" начинает "видеть" и может вводить свою часть информации в справке.</li>
        <li>"Исполнитель", после ввода и проверки правильности своих строк справки, выполняет операцию - "Завершить ввод".</li>
        <li>"Организатор" может отслеживать процесс и, после завершения ввода "Исполнителями" всех строк справки, печатает выходную форму.</li>
        <li>"Организатор", после распечатки справки, проверки ее корректности, передачи справки в "бумажном" виде руководству, копирует справку
        (содержимое буферной таблицы) в архив.</li>
        <li>"Организатор" очищает буферную таблицу, готовит ее для работы со следующей справкой.</li>
       </ol>
         </small></p>
       </div>
      </div>
      <div class="col-md-4">
       <div class="well text-justify">
         <p><strong>2.Пользователь-"Организатор".</strong></p>
         <p><small>При входе в приложение PUZZLE любой пользователь попадает в раздел "Исполнитель"->"Ввод своих данных" и перед ним отображаются
         данные буферной таблицы в соответствии с его ролью. Для "Организатора" - это все содержимое буферной таблицы, однако "Организатор"
         не может редактировать строки справки в буферной таблице.<br />
          "Организатор" действует так, как это уже описано в разделе 1 настоящей инструкции, только шаг 1 и шаг 2 выполняются в приложении в одном
         пункте меню: "Организатор"->"Сформировать бланк справки 'на дату'". "Организатор" выполняет перевод строк ("записей")
         буферной таблицы в состояние, доступное для ввода информации "Исполнителями" и рассылает по электронной почте им сообщения автоматически в пункте
         меню "Организатор"->"Передать бланк исполнителям".<br />
         О ходе подготовки справки "Исполнителями" можно судить, просматривая буферную таблицу из меню "Исполнителя" или "Администратора", а также
         есть возможность, во время подготовки справки "Исполнителями", получать на экране или печатать "Выходную форму".<br />
         "Puzzle" - одностраничное приложение, но можно использовать браузерные кнопки
         <span class="glyphicon glyphicon-arrow-right"></span> и <span class="glyphicon glyphicon-arrow-left"></span>.
         </small></p>
       </div>
      </div>
      <div class="col-md-4">
       <div class="well text-justify">
         <p><strong>3.Пользователь-"Исполнитель".</strong></p>
         <p><small>При входе в приложение PUZZLE активен раздел "Исполнитель"->"Ввод своих данных" и "Исполнитель" видит часть справки, за которую
         он отвечает. Содержимое буфера отображается в виде "грида" в левой нижней части "грида" находится панель навигации и, вначале, щелкнув
         на строке, которую собираемся редактировать (она при выборе изменит цвет), а затем по "значку" <span class="glyphicon glyphicon-pencil"></span> , мы
         выполним вызов окна редактирования параметра справки. Можно, "ухватив" мышкой заголовок окна редактирования
         (появится значок <span class="glyphicon glyphicon-move"></span> ), перетащить окно в удобное место
         экрана для дальнейшего ввода "величины". После ввода щелкнуть по кнопке "Сохранить" и закрыть окно редактирования, или перейти к следующей
         строке, не закрывая окно, щелкнув по "значку" <span class="glyphicon glyphicon-play"></span>.<br />
         После ввода всех строк справки и визуальной их проверки, необходимо выполнить пункт меню "Завершить формирование своей части справки",
         при этом заполненные строки переходят в другое состояние и перестают отображаться в "гриде" "Буферная таблица".<br />
       </small><br /><br /><br />
       </p>
       </div>
      </div>
    </div>

  </div>
