<br /><br /><br />
<h4>Загрузка файла статистики и просмотр таблицы статистики</h4>
<div class="row">
<div class="col-md-12">
  <div class="panel panel-primary">
      <div class="panel-heading">
           Загрузка информации из файла статистики
      </div>
      <div class="panel-body">
        <div>
            <input name="userfile" type="file" file-model="myFile" ng-disabled="progress == 1"/>
            <br />
            <button class="btn btn-success" ng-click="uploadFile()" ng-disabled="progress == 1">Загрузка в БД</button>
            <div ng-hide="progress == 0"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Загрузка...</div>
        </div>
      </div>
  </div>
<div class="panel panel-primary">
  <div class="panel-heading">Таблица статистики запросов СМЭВ
       <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Фильтр: <span class="input-icon">
                        <input placeholder="Фильтр ..." class="nav-search-input" ng-model="filterReport" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
  </div>
   <div class="panel-body">
                        <strong>Всего строк в списке: {{reports.length}}. Отфильтровано: {{recF.length}}. В колонке "Всего запросов":
                            {{calculateTotal(recF)}}</strong>
   <div class="table-responsive">
    <table class="table table-condensed table-hover table-bordered">
    <tr ng-show="reports.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Данные не найдены</td></tr>
    <tr ng-hide="reports.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Загрузка...</td></tr>
            <tr>
            <th><small>ID</small></th>
            <th><small>Наименование отправителя</small></th>
            <th><small>Тип запроса</small></th>
            <th><small>Всего запросов</small></th>
            <th><small>Внесено</small></th>
            </tr>
            <tbody>
                <tr ng-repeat="c in recF = (reports | filter:filterReport)">
                    <td><small>{{c.id}}</small></td>
                    <td><small>{{c.sender_name}}</small></td>
                    <td><small>{{c.query_type}}</small></td>
                    <td><small>{{c.qcnt}}</small></td>
                    <td><small>{{c.created}}</small></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
 </div>
</div>
</div>