<h3>Редактирование списка отчетов</h3>
<hr/>
<div ng-if="role=='2'">
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(report);">&nbsp;Добавить строку</button>
</div>

<div class="panel panel-primary">
      <div class="panel-heading">Список отчетов
       <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Фильтр: <span class="input-icon">
                        <input placeholder="Фильтр ..." class="nav-search-input" ng-model="filterReport" ng-change="resetLimit();" autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
   </div>
  <div class="panel-body">
  <h4>Строк: {{filteredReports.length}}</h4>
  <div class="table-responsive">
    <table class="table table-striped">
    <tr ng-show="reports.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Данные не найдены</td></tr>
    <tr ng-hide="reports.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Загрузка...</td></tr>
    <tr>
    <th ng-repeat="c in columns">{{c.text}}</th>
    </tr>
    <tr ng-repeat="c in filteredReports = (reports | filter:filterReport | orderBy:'-id_rep')" id="{{c.id_rep}}" animate-on-change='c.id_rep+c.name_rep+c.comment+c.path_out+c.path_doc' ng-animate=" 'animate'">
        <td>{{c.id_rep}}</td><td>{{c.name_rep}}</td><td>{{c.path_out}}</td><td>{{c.comment}}</td><td>{{c.path_doc}}</td>
           <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-success fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteReport(c);"></button>
            </div>
           </td>
     </tr>
    </table>
  </div>
</div>
</div>
